{% extends "base.html" %}
{% block title %}Archive | {{ SITENAME }}{% endblock %}
{% block content %}
<h2>Archive</h2>

{% if GOOGLE_PARTNER_PUB %}
    {% include '_includes/search.html' %}
{% endif %}

{% for year, date_year in dates|groupby( 'date.year' )|reverse %}
<h2>{{ year }}</h2>
{% for month, articles in date_year|groupby( 'date.month' )|reverse %}
<dl>{% for article in articles %}
    <dd><a href="{{ SITE_URL }}/{{ article.url }}">{{ article.title }}</a>
      <span class="archive-date">{{ article.date.strftime('%d') }} {{ article.date.strftime('%B')[:3] }}</span>
    </dd>
{% endfor %}
{% endfor %}
{% endfor %}
</dl>
{% endblock %}
