{% extends "base.html" %}
{% block title %}Экипаж - {{ SITENAME }}{% endblock %}
{% block content %}
<div id="main">
<h2>Экипаж</h2>
<p><b>redVi</b> &mdash; автор блога. В свободное от безделья время танцует с бубном вокруг любимого дистрибутива. Порой пишет код и посты.<br />
<a href="{{ SITEURL }}/author/redvi.html">Все публикации автора redVi</a></p>

<p><b>Anarchist</b> &mdash; гентушник, freeman, человек и параход.<br />
<a href="{{ SITEURL }}/author/anarchist.html">Все публикации автора Anarchist</a></p>
</div>
{% endblock %}

